md-autocomplete.md-default-theme, md-autocomplete {
    background: rgb(255,255,255)
}

    md-autocomplete.md-default-theme[disabled]:not([md-floating-label]), md-autocomplete[disabled]:not([md-floating-label]) {
        background: rgb(245,245,245)
    }

    md-autocomplete.md-default-theme button md-icon path, md-autocomplete button md-icon path {
        fill: rgb(117,117,117)
    }

    md-autocomplete.md-default-theme button:after, md-autocomplete button:after {
        background: rgba(117,117,117,0.3)
    }

.md-autocomplete-suggestions-container.md-default-theme, .md-autocomplete-suggestions-container {
    background: rgb(255,255,255)
}

    .md-autocomplete-suggestions-container.md-default-theme li, .md-autocomplete-suggestions-container li {
        color: rgb(33,33,33)
    }

        .md-autocomplete-suggestions-container.md-default-theme li .highlight, .md-autocomplete-suggestions-container li .highlight {
            color: rgb(117,117,117)
        }

        .md-autocomplete-suggestions-container.md-default-theme li.selected, .md-autocomplete-suggestions-container li.selected, .md-autocomplete-suggestions-container.md-default-theme li:hover, .md-autocomplete-suggestions-container li:hover {
            background: rgb(238,238,238)
        }

md-backdrop {
    background-color: rgba(33,33,33,0.0)
}

    md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
        background-color: rgba(33,33,33,1.0)
    }

md-bottom-sheet.md-default-theme, md-bottom-sheet {
    background-color: rgb(250,250,250);
    border-top-color: rgb(224,224,224)
}

    md-bottom-sheet.md-default-theme .md-subheader, md-bottom-sheet .md-subheader {
        background-color: rgb(250,250,250);
        color: rgba(0,0,0,0.87)
    }

.md-button.md-default-theme:not([disabled]).md-focused, .md-button:not([disabled]).md-focused, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: rgba(158,158,158,0.2)
}

.md-button.md-default-theme:not([disabled]).md-icon-button:hover, .md-button:not([disabled]).md-icon-button:hover {
    background-color: transparent
}

.md-button.md-default-theme.md-raised, .md-button.md-raised {
    color: rgb(33,33,33);
    background-color: rgb(250,250,250)
}

    .md-button.md-default-theme.md-raised:not([disabled]) md-icon, .md-button.md-raised:not([disabled]) md-icon {
        color: rgb(33,33,33)
    }

    .md-button.md-default-theme.md-raised:not([disabled]):hover, .md-button.md-raised:not([disabled]):hover {
        background-color: rgb(250,250,250)
    }

    .md-button.md-default-theme.md-raised:not([disabled]).md-focused, .md-button.md-raised:not([disabled]).md-focused {
        background-color: rgb(238,238,238)
    }

    .md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled] {
        background-color: rgba(0,0,0,0.12)
    }

.md-button.md-default-theme[disabled], .md-button[disabled] {
    background-color: transparent
}

md-card.md-default-theme, md-card {
    color: rgba(0,0,0,0.87);
    background-color: rgb(255,255,255);
    border-radius: 2px
}

    md-card.md-default-theme md-card-header md-card-avatar md-icon, md-card md-card-header md-card-avatar md-icon {
        color: rgb(250,250,250);
        background-color: rgba(0,0,0,0.38)
    }

md-checkbox.md-default-theme.md-checked .md-ripple, md-checkbox.md-checked .md-ripple {
    color: rgb(117,117,117)
}

md-checkbox.md-default-theme[disabled].md-checked .md-icon, md-checkbox[disabled].md-checked .md-icon {
    background-color: rgba(0,0,0,0.38)
}

    md-checkbox.md-default-theme[disabled].md-checked .md-icon:after, md-checkbox[disabled].md-checked .md-icon:after {
        border-color: rgb(238,238,238)
    }

md-chips.md-default-theme md-chip, md-chips md-chip {
    background: rgb(224,224,224);
    color: rgb(66,66,66)
}

    md-chips.md-default-theme md-chip md-icon, md-chips md-chip md-icon {
        color: rgb(97,97,97)
    }

    md-chips.md-default-theme md-chip._md-chip-editing, md-chips md-chip._md-chip-editing {
        background: transparent;
        color: rgb(66,66,66)
    }

md-chips.md-default-theme md-chip-remove .md-button md-icon path, md-chips md-chip-remove .md-button md-icon path {
    fill: rgb(158,158,158)
}

.md-contact-suggestion span.md-contact-email {
    color: rgb(189,189,189)
}

.md-calendar.md-default-theme, .md-calendar {
    background: rgb(255,255,255);
    color: rgba(0,0,0,0.87)
}

    .md-calendar.md-default-theme tr:last-child td, .md-calendar tr:last-child td {
        border-bottom-color: rgb(238,238,238)
    }

.md-default-theme .md-calendar-day-header, .md-calendar-day-header {
    background: rgb(224,224,224);
    color: rgba(0,0,0,0.87)
}

.md-calendar-date.md-focus .md-default-theme .md-calendar-date-selection-indicator, .md-calendar-date.md-focus .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date-selection-indicator:hover, .md-calendar-date-selection-indicator:hover {
    background: rgb(224,224,224)
}

.md-default-theme .md-calendar-date-disabled, .md-calendar-date-disabled, .md-default-theme .md-calendar-month-label-disabled, .md-calendar-month-label-disabled {
    color: rgba(0,0,0,0.435)
}

.md-default-theme .md-datepicker-calendar-pane, .md-datepicker-calendar-pane {
    border-color: rgb(255,255,255)
}

.md-default-theme .md-datepicker-calendar, .md-datepicker-calendar {
    background: rgb(255,255,255)
}

.md-default-theme .md-datepicker-input-mask-opaque, .md-datepicker-input-mask-opaque {
    box-shadow: 0 0 0 9999px rgb(255,255,255)
}

.md-default-theme .md-datepicker-open .md-datepicker-input-container, .md-datepicker-open .md-datepicker-input-container {
    background: rgb(255,255,255)
}

md-dialog.md-default-theme, md-dialog {
    border-radius: 4px;
    background-color: rgb(255,255,255);
    color: rgba(0,0,0,0.87)
}

md-content.md-default-theme, md-content {
    color: rgba(0,0,0,0.87);
    background-color: rgb(250,250,250)
}

[disabled] md-input-container.md-default-theme .md-input, [disabled] md-input-container .md-input, md-input-container.md-default-theme .md-input[disabled], md-input-container .md-input[disabled] {
    border-bottom-color: transparent;
    color: rgba(0,0,0,0.38);
    background-image: linear-gradient(90deg,rgba(0,0,0,0.38) 0,rgba(0,0,0,0.38) 33%,transparent 0);
    background-image: -ms-linear-gradient(left,transparent 0,rgba(0,0,0,0.38) 100%)
}

md-list.md-default-theme .md-proxy-focus.md-focused div.md-no-style, md-list .md-proxy-focus.md-focused div.md-no-style {
    background-color: rgb(245,245,245)
}

md-list.md-default-theme md-list-item .md-avatar-icon, md-list md-list-item .md-avatar-icon {
    background-color: rgba(0,0,0,0.38);
    color: rgb(250,250,250)
}

md-menu-content.md-default-theme, md-menu-content {
    background-color: rgb(255,255,255)
}

    md-menu-content.md-default-theme md-menu-item, md-menu-content md-menu-item {
        color: rgba(0,0,0,0.87)
    }

        md-menu-content.md-default-theme md-menu-item md-icon, md-menu-content md-menu-item md-icon {
            color: rgba(0,0,0,0.54)
        }

        md-menu-content.md-default-theme md-menu-item .md-button[disabled], md-menu-content md-menu-item .md-button[disabled], md-menu-content.md-default-theme md-menu-item .md-button[disabled] md-icon, md-menu-content md-menu-item .md-button[disabled] md-icon {
            color: rgba(0,0,0,0.25)
        }

    md-menu-content.md-default-theme md-menu-divider, md-menu-content md-menu-divider {
        background-color: rgba(0,0,0,0.11)
    }

md-menu-bar.md-default-theme md-menu.md-open > button, md-menu-bar md-menu.md-open > button, md-menu-bar.md-default-theme md-menu > button:focus, md-menu-bar md-menu > button:focus {
    outline: none;
    background: rgb(238,238,238)
}

md-menu-bar.md-default-theme.md-open:not(.md-keyboard-mode) md-menu:hover > button, md-menu-bar.md-open:not(.md-keyboard-mode) md-menu:hover > button {
    background-color: rgba(158,158,158,0.2)
}

md-menu-bar.md-default-theme:not(.md-keyboard-mode):not(.md-open) md-menu button:focus, md-menu-bar:not(.md-keyboard-mode):not(.md-open) md-menu button:focus, md-menu-bar.md-default-theme:not(.md-keyboard-mode):not(.md-open) md-menu button:hover, md-menu-bar:not(.md-keyboard-mode):not(.md-open) md-menu button:hover {
    background: transparent
}

md-menu-content.md-default-theme .md-menu > .md-button:after, md-menu-content .md-menu > .md-button:after {
    color: rgba(0,0,0,0.54)
}

md-menu-content.md-default-theme .md-menu.md-open > .md-button, md-menu-content .md-menu.md-open > .md-button {
    background-color: rgba(158,158,158,0.2)
}

md-toolbar.md-default-theme.md-menu-toolbar, md-toolbar.md-menu-toolbar {
    background-color: rgb(255,255,255);
    color: rgb(0,0,0)
}

    md-toolbar.md-default-theme.md-menu-toolbar md-toolbar-filler md-icon, md-toolbar.md-menu-toolbar md-toolbar-filler md-icon {
        color: rgba(255,255,255,0.87)
    }

md-nav-bar.md-default-theme .md-nav-bar, md-nav-bar .md-nav-bar {
    background-color: transparent;
    border-color: rgba(0,0,0,0.12)
}

._md-panel-backdrop.md-default-theme, ._md-panel-backdrop {
    background-color: rgba(33,33,33,1.0)
}

md-select.md-default-theme[disabled] .md-select-value, md-select[disabled] .md-select-value {
    border-bottom-color: transparent;
    background-image: linear-gradient(90deg,rgba(0,0,0,0.38) 0,rgba(0,0,0,0.38) 33%,transparent 0);
    background-image: -ms-linear-gradient(left,transparent 0,rgba(0,0,0,0.38) 100%)
}

md-select-menu.md-default-theme md-content, md-select-menu md-content {
    background: rgb(255,255,255)
}

    md-select-menu.md-default-theme md-content md-optgroup, md-select-menu md-content md-optgroup {
        color: rgba(117,117,117,0.87)
    }

    md-select-menu.md-default-theme md-content md-option, md-select-menu md-content md-option {
        color: rgba(33,33,33,0.87)
    }

        md-select-menu.md-default-theme md-content md-option[disabled] .md-text, md-select-menu md-content md-option[disabled] .md-text {
            color: rgba(189,189,189,0.87)
        }

        md-select-menu.md-default-theme md-content md-option:not([disabled]):focus, md-select-menu md-content md-option:not([disabled]):focus, md-select-menu.md-default-theme md-content md-option:not([disabled]):hover, md-select-menu md-content md-option:not([disabled]):hover {
            background: rgb(238,238,238)
        }

.md-checkbox-enabled.md-default-theme[selected] .md-ripple, .md-checkbox-enabled[selected] .md-ripple {
    color: rgb(117,117,117)
}

.md-checkbox-enabled.md-default-theme md-option .md-text, .md-checkbox-enabled md-option .md-text {
    color: rgba(33,33,33,0.87)
}

md-sidenav.md-default-theme, md-sidenav, md-sidenav.md-default-theme md-content, md-sidenav md-content {
    background-color: rgb(255,255,255)
}

md-slider.md-default-theme .md-track, md-slider .md-track {
    background-color: rgba(0,0,0,0.38)
}

md-slider.md-default-theme .md-track-ticks, md-slider .md-track-ticks {
    color: rgba(0,0,0,0.87)
}

md-slider.md-default-theme .md-disabled-thumb, md-slider .md-disabled-thumb {
    border-co…
