body {
}

.navbar-default {
    padding: 20px 30px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100px;
    min-height: 100%;
    /*border-right: 1px solid gray;*/
}

#page-wrapper {
    padding: 20px 30px;
    height: 100%;
    margin-left: 101px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}